fastapi==0.112.0
Flask==3.0.3
langchain==0.2.12
langchain_community==0.2.11
langchain_core==0.2.28
langchain_openai==0.1.20
langchain_text_splitters==0.2.2
langserve==0.2.2
openai==0.28.0
pandas==2.2.2
pydantic==2.8.2
python-dotenv==1.0.1
torch==2.4.0
transformers==4.44.0
uvicorn==0.30.5
